# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Python Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# Node Modules
# ==========================
node_modules/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Git
# ==========================
.git/